<footer class="bg-light text-center text-lg-start" id="footer_ubication">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://red5g.co/">Red5G</a>
  </div>
</footer>