<div class="container"  id="div_editar_usuario">
  <div>
    <h2>Editar Usuario</h2>
  </div>
  <form action="" (ngSubmit)="onClickActualizar()" >
    <div class="form-group">
      <label for="exampleInputEmail1">Id</label>
      <input type="number" readonly name="id" class="form-control" id="" [(ngModel)]="id" value="{{id}}"  placeholder="Id">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control" id=""  placeholder="Nombre" name="nombre" [(ngModel)]="nombre" value="{{nombre}}" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Apellido</label>
      <input type="text" class="form-control" id=""  placeholder="Apellido" name="apellido" [(ngModel)]="apellido" value="{{apellido}}" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cargo</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cargo" name="cargo" [(ngModel)]="cargo" value="{{cargo}}" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Edad</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Edad" name="edad" [(ngModel)]="edad" value="{{edad}}" >
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
  </form>
</div>