<div class="container"  id="div_Crear_Usuarios">
  <div>
    <h2>Crear Usuarios</h2>
  </div>
  <form action="" (ngSubmit)="onClickCrear()" >
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control" id="" name="nombre"  placeholder="Nombre" [(ngModel)]="nombre" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Apellido</label>
      <input type="text" class="form-control" id="" name="apellido"  placeholder="Apellido" [(ngModel)]="apellido" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Cargo</label>
      <input type="text" class="form-control" id="" name="cargo"  placeholder="Cargo" [(ngModel)]="cargo" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Edad</label>
      <input type="number" class="form-control" id="" name="edad"  placeholder="Edad" [(ngModel)]="edad" />
    </div>    
    <button type="submit" class="btn btn-primary" >Crear</button>
  </form>
</div>
