<div class="container">
  <nav id="navbar-example2" class="navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#fat">CRUD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mdo">CRUD BD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#one">Frameworks CRUD</a>
      </li>
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
    <br>
    <h4 id="fat">CRUD</h4>
    <p>CRUD (Create, Read, Update, Delete) es un acrónimo para las maneras en las que se puede
      operar sobre información almacenada. Es un nemónico para las cuatro funciones del almacenamiento
      persistente. CRUD usualmente se refiere a operaciones llevadas a cabo en una base de datos o un almácen de datos,
      pero también pude aplicar a funciones de un nivel superior de una aplicación como soft deletes donde la
      información
      no es realmente eliminada, sino es marcada como eliminada a tráves de un estatus.</p>
    <br>
    <br>
    <h4 id="mdo">CRUD: la base de la gestión de datos</h4>
    <p>El concepto CRUD está estrechamente vinculado a la gestión de datos digitales. CRUD hace referencia a un acrónimo
      en el que se reúnen las primeras letras de las cuatro operaciones fundamentales de aplicaciones persistentes en
      sistemas de bases de datos:</p>
    <ul>
      <li>Create (Crear registros)</li>
      <li>Read bzw. Retrieve (Leer registros)</li>
      <li>Update (Actualizar registros)</li>
      <li>Delete bzw. Destroy (Borrar registros)</li>
    </ul>
    <p>En pocas palabras, CRUD resume las funciones requeridas por un usuario para crear y gestionar datos. Varios
      procesos de gestión de datos están basados en CRUD, en los que dichas operaciones están específicamente adaptadas
      a los requisitos del sistema y de usuario, ya sea para la gestión de bases de datos o para el uso de aplicaciones.
      Para los expertos, las operaciones son las herramientas de acceso típicas e indispensables para comprobar, por
      ejemplo, los problemas de la base de datos, mientras que para los usuarios, CRUD significa crear una cuenta
      (créate) y utilizarla (read), actualizarla (update) o borrarla (delete) en cualquier momento. Dependiendo de la
      configuración regional, las operaciones CRUD pueden implementarse de diferentes maneras, como lo muestra la
      siguiente tabla:</p>
    <br>
    <br>
    <h4 id="one">Frameworks CRUD: capa de acceso a las bases de datos</h4>
    <p>Si los objetos individuales son visualizados por medio de una interfaz gráfica y modificados con las llamadas
      operaciones CRUD, entonces se habla de un framework CRUD o de un CRUD grid. Por lo general, se trata de interfaces
      HTML. Un framework CRUD demanda varios pasos de transacción, de forma que los datos no se recogen una vez se han
      introducido, sino que es necesario pulsar la opción “Guardar” o “Continuar”. Las operaciones de un framework CRUD
      pueden aplazarse para ser ejecutadas en diferentes plazos, sin que los datos de dichos periodos de tiempo se
      bloqueen para otros usuarios. Este hecho resulta de gran importancia para sistemas multiusuario, pues permite que
      varias personas lean los mismos datos al mismo tiempo.</p>
    <p>Para llevar a cabo las operaciones se utilizan las denominadas capas de persistencia, que, por lo general, pueden
      ser implementadas o están contenidas en forma de extensiones (módulos) en el framework. Estas rompen con la
      representación relacional y tabular de la totalidad de los datos para, en su lugar, presentarlos en un nivel
      orientado a objetos. Los frameworks CRUD facilitan el acceso al sistema de bases de datos y son utilizados tanto
      en el desarrollo como en el uso de aplicaciones. Existen numerosos frameworks con un concepto CRUD basados en
      diferentes lenguajes y plataformas. A continuación, presentamos algunos ejemplos:</p>
  </div>
</div>