<div>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hola Bienvenido al CRUD de Angular</h1>
      <p class="lead">Desde esta pagina puedes llevar control de usuarios, crear, editar y eleiminar usuarios.</p>
      <hr class="my-4">
      <p>Comienza creando usuarios.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="crear" role="button">Crear usuario</a>
      </p>
    </div>  
  </div>
  <app-home-list></app-home-list>
</div>

