<div class="container" id="div_container">
  <div>
    <h2>Lista de Usuarios</h2>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cargo</th>
        <th scope="col">Edad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios" >
        <th>{{ item.id }}</th>
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>{{ item.cargo }}</td>
        <td>{{ item.edad }}</td>
        <td><button type="button" class="btn btn-warning" id="btn_acciones" (click)="editUser(item)" >Editar</button><button type="button"
            class="btn btn-danger" id="btn_acciones" (click)="deleteUser(item)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>